/*Provides styling and general shape for general site sections*/
* {
	box-sizing: border-box;
	font-family: Arial, Helvetica;
}

body {
	width: 85%;
	margin: auto;
	background: #930019;
}

h2 {
	font-style: italic;
}
/*-----------------------------------------------------------------------------------*/
/*formats the heading and its content for each page*/
.header {
	padding: 5px;
	text-align: left;
	background-color: #DFD2AF;
	background-image:url("headerimg.jpg");
	background-position: right;
	background-repeat: no-repeat;
}

.header h1 {
	font-size: 35px;
	font-style: italic;
	font-family: Times New Roman;
	margin-left: 20px;
}

.header h4 {
	margin-left: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*adds color and stops the contents of the nav bar from being too big*/
.topnav {
	overflow: hidden;
	background-color: #fffccc;
}

/*formats the individual links in the nav bar*/
.topnav a {
	float: left;
	color: black;
	display: block;
	padding: 10px 10px;
	font-size: medium;
	text-decoration:none;
	text-align: center;
}
/*changes the color of the link you are hovering over*/
.topnav a:hover {
	background-color: #FFFAF0;
}
/*changes the color of the link for the page you are on*/
.topnav a.active {
	background-color: #DCDCDC;
}
/*-----------------------------------------------------------------------------------*/
/*sections off and sizes the 3 columns of each page along with any general information that fills them*/
.leftsidebar {
	float: left;
	width: 18%;
	padding-top: 20px;
}
.main {
	float: left;
	width: 64%;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
.rightsidebar {
	float: left;
	width: 18%;
	padding-top: 20px;
}

.content {
	background-color: #fffccc;
	padding: 5px 20px 5px 20px;
}

/*-----------------------------------------------------------------------------------*/
/*Sizes images on main page and places them into a row next to each other*/
.imgcolumn {
	float: left;
	width: 33.33%;
	padding: 2px;
}

/*-----------------------------------------------------------------------------------*/
/*Clears the spacing for areas after a columned section has ended*/
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*-----------------------------------------------------------------------------------*/
/*Formatting for embedded map*/
.mapSection {
	width: 100%;
	display: block;
	margin: auto;
}

/*-----------------------------------------------------------------------------------*/
/*Adds styling to form sections, their inputs, and other elements within the forms*/
.VIPform, .EmailContact, .LoginForm, .menuform, .vipsearchform, .registerform {
	border-radius: 5px;
	background-color: #fffccc;
	padding: 20px;
	display: block;
}

input[type=text], input[type=date], input[type=email], input[type=password] {
	width: 100%;
	padding: 15px 25px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

textarea {
	width: 100%;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type=submit] {
	width: 50%;
	background-color: #CD2626;
	color: black;
	padding: 15px 25px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #840e1a;
}

.formheader {
	text-align: center;
	margin:auto
}

/*-----------------------------------------------------------------------------------*/
/*Styles and sizes tables that are automatically generated by php scripts*/
table {
	border-bottom: 2px solid black;
	width: 100%;
}

th {
	padding-left: 10px;
}

td {
	padding: 5px 0px 5px 10px;
	vertical-align: top;
}

/*formats and sizes individual columns within tables automatically generated by php*/
.menuitemname {
	width: 20%;
	text-align: left;
}

.menuitemdesc {
	width: 60%;
	text-align: left;
}

.menuitemprice {
	width: 20%;
	text-align: right;
}

.VIPid {
	width: 10%;
	text-align: left;
}

.VIPname, .VIPemail {
	width: 30%;
	text-align: center;
}

.VIPfname, .VIPlname {
	width: 15%;
	text-align: center;
}

.VIPdob {
	width: 30%;
	text-align: right;
}


/*-----------------------------------------------------------------------------------*/
/*Rearanges the layout based on screensize of device*/
@media screen and (max-width: 800px) {
	.leftsidebar, .rightsidebar, .main {
		width: 100%;
		padding: 0;
	}
}

@media all and (max-width: 400px) {
	body {
		width:90%
	}
		
	.topnav a {
		float: none;
		width: 100%;
	}
	
	.topnav, .leftsidebar, .main {
		margin-bottom: 20px;
	}
	
	.header {
		background-image:url("smallheaderimg.JPG");
	}

    table{
        width:100%;
    }

    tr{
        display:block;
        margin-bottom:10px;
    }
	
	.menuitemdesc, .menuitemname, .menuitemprice, .VIPid, .VIPdob, .VIPemail, .VIPform, .VIPname, .VIPfname, .VIPlname {
		width:100%;
		text-align: center;
		display:block;
	}
}